---
import PageLayout from "@layouts/PageLayout.astro";
import AboutSvg from "@images/about.svg";
---

<PageLayout title={"About"} description={"Information about Bob Stoute"}>
  <div class="background-image bg-subway-dark">
    <div class="animate flex h-full items-center justify-center text-center">
      <AboutSvg />
    </div>
  </div>
</PageLayout>
