---
export const prerender = true;

import PageLayout from "@layouts/PageLayout.astro";
import ChatTemplates from "@components/chat/ChatTemplates";
---

<PageLayout title="AI Chat">
  <div
    class="fixed top-16 bottom-0 left-0 w-full md:left-1/2 md:w-[768px] md:-translate-x-1/2 lg:w-[1024px] xl:w-[1280px]"
  >
    <ChatTemplates client:load />
  </div>
</PageLayout>
