---
export const prerender = true;

import PageLayout from "@layouts/PageLayout.astro";
import PromptTemplates from "@components/prompt-templates/PromptTemplates";
---

<PageLayout title={"Prompts"} description={"prompts"}>
  <div class="h-full w-full">
    <PromptTemplates client:load />
  </div>
</PageLayout>

<style>
  div {
    margin: 0;
    padding: 0;
  }
</style>
