---
export const prerender = true;

import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import PromptTemplates from "@components/prompt-templates/PromptTemplates";
---

<PageLayout title={"prompts"} description={"prompts"}>
  <!--<TopLayout>-->
  <!--  &lt;!&ndash;<div class="animate page-heading">&ndash;&gt;-->
  <!--  &lt;!&ndash;  {"Prompts"}&ndash;&gt;-->
  <!--  &lt;!&ndash;</div>&ndash;&gt;-->
  <!--</TopLayout>-->
  <BottomLayout>
    <div class="animate pt-14">
      <PromptTemplates client:load />
    </div>
  </BottomLayout>
</PageLayout>
