---
export const prerender = false;

import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import PromptTemplates from "@components/prompt-templates/PromptTemplates";
---

<PageLayout title={"prompts"} description={"prompts"}>
  <TopLayout>
    <div class="animate page-heading">
      {"Prompts"}
    </div>
  </TopLayout>
  <BottomLayout>
    <PromptTemplates client:load />
  </BottomLayout>
</PageLayout>
