---
export const prerender = false;

import PageLayout from "@layouts/PageLayout.astro";
import LangChainChat from "../../components/chat/LangChainChat";
import BottomLayout from "../../layouts/BottomLayout.astro";
---

<PageLayout title="AI Chat">
  <BottomLayout>
    <div class="animate pt-14">
      <LangChainChat client:load />
    </div>
  </BottomLayout>
</PageLayout>
